body {
    background-color: #0B0C10;
    color: #45A29E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr 40px;
    min-height: 100vh;
    grid-template-areas:
        "header header header"
        "article article aside"
        "footer footer footer"
    ;
    gap: 10px;
}

::-webkit-scrollbar {
    display: none;
}

/*NAV*/

.nav__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F2833;
    color: #45A29E;
}

.nav__ul li {
    float: left;
}

.nav__ul li a {
    display: block;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    color: #45A29E;
    transition-duration: .4s;
}

.nav__ul li a:hover {
    color: #0B0C10;
    background-color: #66FCF1;
    transition-duration: .4s;
    margin-left: 1px;
    margin-right: 1px;
}

header {
    grid-area: header;
}

article {
    grid-area: article;
    margin-left: 12px;
}

.section-01 h1 {
    background-color: #1F2833;
    text-align: center;
    text-decoration: double;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 12px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-duration: .5s;
}

.section-01 h1:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition-duration: .5s;
    padding: 20px;
}

.section-02 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-02 h1 {
    background-color: #0B0C10;
    padding: 2px;
    margin: 20px;
    transition-duration: .3s;
    text-align: center;
}

.section-02 p {
    background-color: #0B0C10;
    padding: 2px;
    margin: 20px;
    transition-duration: .3s;
    text-align: center;
}

.section-02 p:hover {
    border: #45A29E solid;
    transition-duration: .3s;
    border-radius: 12px;
    padding: 12px;
    background-color: #1F2833;
    color: #66FCF1;

}

aside {
    grid-area: aside;
    margin-left: 12px;
}

aside h2 {
    background-color: #1F2833;
    text-align: center;
    text-decoration: double;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 12px;
    margin-top: 20px;
}

.div_news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 12px;
    margin-right: 6px;
    min-height: 100%;
    gap: 12px;
}

.div_news img {
    border: #1F2833 solid;
    grid-column: 1/2;
    border-radius: 6px;
}

.div_news p {
    border: #1F2833 solid;
    opacity: 60%;
    grid-column: 2/4;
    border-radius: 6px;
}


footer {
    grid-area: footer;
    margin-left: 12px;

}