{% extends "base.html" %}

{% block title%}Pagina Principal{% endblock %}

{% block contentbody %}

<header>
    <nav class="nav">
        <ul class="nav__ul">
            <li><a href="/">Inicio</a></li>
            <li><a href="">Reclamos</a></li>
            <li><a href="">Felicitaciones</a></li>
        </ul>
    </nav>
</header>

<article>
    <section class="section-01">
        <h1>Titulo</h1>
    </section>
    <section class="section-02">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, libero.</p>
    </section>
</article>

<aside>

</aside>
<footer>

</footer>

{% endblock %}