{% extends "base.html" %}

{% block title%}Pagina Principal{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block contentbody %}

<header>
    <nav class="nav">
        <ul class="nav__ul">
            <li><a href="/">Inicio</a></li>
            <li><a href="forms/">Reclamos o Felicitaciones</a></li>
        </ul>
    </nav>
</header>

<article>
    <section class="section-01">
        <h1>Cafe Gamer</h1>
    </section>
    <section class="section-02">
        {% for key, value in cafe%}
        <h1>{{ key }}</h1>
        <p>{{ value }}</p>
        {% endfor %}
    </section>
</article>

<aside>
    <h2>Juegos Disponibles</h2>
    <div class="div_news">
        {% for key, value in data%}
        <img src="{{ value }}" alt="">
        <a href="{{ key }}">Link a Wikipedia</a>
        {% endfor %}
    </div>

</aside>
<footer>

</footer>

{% endblock %}